@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

//////////////////////////// FONT-FAMILY ////////////////////
$font-family-base: "Montserrat", sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: $font-family-base;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
span {
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  width: 100%;
}

//////////////////////////// COLORS ////////////////////
$black-color: #000;
$white-color: #fff;
$nav-mainLink-color: #585858;
$nav-subLink-color: #484848;
$table-data-color: #030303;

$body-color: #fafafa;
$primary-bg-color: #4c49d6;
$nav-subLink-bgColor: #eaeaea;

$input-placeholder-color: #949494;

$btn-hover-bgColor: #3c39e0;

///////////////////// Font Weights for Google Fonts//////////
$wf-light: 300;
$wf-regular: 400;
$wf-medium: 500;
$wf-semi-bold: 600;
$wf-bold: 700;
$wf-extra-bold: 800;
$wf-black: 900;

.d-flex {
  display: flex;
}


